.header__link {
  text-decoration: none;
  color: #2f80ed;
}
.header__link:hover {
  opacity: 0.8;
  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
