.resources__logo {
  width: 270px;
  height: 38px;
}
.resources__logo:hover {
  opacity: 0.8;
  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
